@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital@0;1&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 80vw;
    margin: 0 auto;
    background-color: #424242;
    padding: 50px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    width: 176px;
    padding: 21px 30px 30px 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    background: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 50px;
}

.checkboxes__h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin: 21px 0 0 0;
}

.checkboxes__original {
    display: none;
}

.checkboxes__label {
    position: relative;
    margin-top: 20px;
    padding-left: 24px;
}

.checkboxes__custom::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px solid #CCB26E;
    border-radius: 3px;
}

.checkboxes__original:checked+.checkboxes__custom::before {
    background-image: url('check.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.choices {
    width: 176px;
    height: 39px;
    padding: 0;
    margin: 0;
    background: #FFFFFF;
    border-radius: 10px;
    font-size: 14px !important;
    line-height: 19px;
    border: 0;
}

.choices__placeholder {
    opacity: 1;
    color: #333333;
}

.choices__inner {
    background-color: #FFFFFF;
    padding: 0;
    border: 0;
    font-size: 14px;
    min-height: 39px;
}

.choices__list {
    padding: 0;
}

.choices__item {
    margin: 0;
    padding: 10px 0 10px 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    border: 0;
}

.is-open .choices__inner {
    border: 0;
    border-radius: 10px;
}

.is-open .choices__placeholder {
    border-bottom: 1px solid #CCB26E;
    border-radius: 10px;
    opacity: 1;
}

.is-open .choices__list--dropdown {
    top: 0;
    border: 1px solid #CCB26E;
    border-radius: 10px;
}

.choices__list--dropdown .choices__item {
    padding: 10px 0 10px 15px;
}

.choices__item:last-of-type {
    padding-bottom: 20px;
}

.choices__item:nth-of-type(2) {
    padding-top: 20px;
}

.choices__list--dropdown .choices__item--selectable::after {
    content: "";
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: transparent;
}

.choices[data-type*=select-one]::after {
    content: "";
    width: 8px;
    height: 8px;
    border: 0;
    border-bottom: 1px solid #666666;
    border-right: 1px solid #666666;
    transform: rotate(45deg);
    top: 15px;
    right: 15px;
}

.is-open[data-type*=select-one] .choices__list--dropdown::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border: 0;
    border-bottom: 1px solid #CCB26E;
    border-right: 1px solid #CCB26E;
    transform: rotate(-135deg);
    top: 17px;
    right: 15px;
}

.map-container {
    position: relative;
    width: 460px;
    height: 460px;
    overflow: hidden;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 50px;
}

.ymaps-2-1-79-ground-pane {
    filter: grayscale(1);
    -ms-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
}

.textfield {
    margin-top: 50px;
    background-color: #FFFFFF;
    width: 399px;
    height: 310px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 160%;
    color: #333333;
    padding: 20px 29px 20px 30px;
    overflow: auto;
}

.simplebar-scrollbar::before {
    background-color: #CCB26E;
    opacity: 1;
}

.simplebar-scrollbar.simplebar-visible:before {
    opacity: 1;
    transition: none;
}

.simplebar-track.simplebar-vertical {
    right: 6px;
}

.inside-text {
    padding: 0;
}

.form-container {
    margin-top: 50px;
    width: 440px;
    background: rgba(0, 0, 0, .4);
    border-radius: 10px;
}

.form {
    padding: 21px 30px 39px 30px;
}

.form__input {
    height: 60px;
    width: 360px;
    background: #FFFFFF;
    border: 1px solid #FF5C00;
    border-radius: 10px;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    padding-left: 20px;
}

.form__submit {
    margin-top: 31px;
    padding: 17px 53px;
    width: 192px;
    height: 60px;
    background: #FF5C00;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF
}

.form__input::placeholder {
    font-size: 16px;
    line-height: 19px;
    color: #999999;
}

.errors-container {
    margin-bottom: 5px;
    margin-top: 14px;
    margin-left: 20px;
    height: 12px;
}